body{
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
#form-container{
    background-color: white;
    padding: 50px;
    text-align: center;
    border:2px solid rgb(238, 247, 63);
}
#form-container h2{
    margin: 0px 0px 10px 0px;
}
#form-container input{
    width: 200px;
    margin: 10px 0px;
    padding: 10px;

}
#form-container input[type = "submit"]{
    width: 222px;
    background-color: brown;
    border: 0px;
    color: white;
}
 .error{
    color: red;
    margin: 0px;
    text-align: left;
}

