*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#wrapper{
    width: 100%;
    height: 700px;
    background-color: bisque;
}
#header{
    width: 100%;
    height: 100px;
   
}
#logo{
    width: 450px;
    height: 100px;
   
    float: left;
}
#logo img{
    margin-top: 25px;
    margin-left: 400px;
}
#nav{
    width: 800px;
    height: 100px;
    
    float: left;
}
#nav ul{
    list-style-type: none;
    margin-top: 40px;
    margin-left: 300px;
}
#nav ul li{
    display: inline;
}
#nav ul li a{
    text-decoration: none;
    padding: 4px 25px;
    color: black;
    font-size: 20px;
}
#nav ul li a:hover{
    color: brown;
    background-color: white;
    border-radius: 10px;
}
#nav2{
    width: 600px;
    height: 100px;
   
    float: right;
}
#nav2 input{
    padding: 6px 10px;
    margin-right: 350px;
    float: right;
    margin-top: 32px;
    background-color: brown;
    color: white;
}
#banner{
    width: 100%;
    height: 600px;
   
    float: left;
}
.box1{
    width: 25%;
    height: 600px;
    
    float: left;
}
.box2{
    width: 35%;
    height: 600px;
   
    float: left;
}
.box3{
    width: 40%;
    height: 600px;
    
    float: right;
}
.box1 img{
    margin-left: 410px;
    margin-top: 30px;
    padding: 5px;
   
}
.box2 h1{
    margin-top: 50px;
    font-size: 70px;

}
.box2 p{
    padding-top: 20px;
    line-height: 1.5;
    font-size: 20px;
}
.box2 input{
    padding: 6px 10px;
    margin-right: 560px;
    float: right;
    margin-top: 32px;
    background-color: brown;
    color: white;

}
#nav3{
    width: 100%;
    height: 200px;
    float: left;
}
#nav3 h2{
    padding-top: 100px;
    margin-left: 880px;
    font-size: 40px;
}
#nav3 p{
    padding-top: 10px;
    margin-left: 760px;
    font-size: 20px;
}
#nav3 span{
    color: orangered;
    margin-left: 930px;
}
#banner2{
    width: 100%;
    height: 600px;
    float: left;
}
.box4{
    width: 20%;
    height: 600px;
    float: left;
}
.box5{
    width: 25%;
    height: 600px;
    float: left;
}
.box6{
    width: 20%;
    height: 600px;
    float: left;
}
.box7{
    width: 25%;
    height: 600px;
    float: left;
}
.box5 h2{
    margin-top: 10px;
    font-size: 30px;
}
.box5 p{
    padding-top: 40px;
    line-height: 1.5;
    font-size: 20px;
}
.box5 p2{
    padding-top:5px;
    font-size: 20px;
}
.box5 input{
    padding: 10px 11px;
    margin-right: 360px;
    float: right;
    margin-top: 32px;
    background-color: brown;
    color: white;
    font-size: 15px;
}
.box6{
    padding-top: 150px;
    line-height: 1.5;
    font-size: 20px;
}
#box8{
    width:300px;
    height:400px;
    border:2px solid black;
    margin-top:40px;
    margin-left: 20px;
    background-color: brown;
    position: relative;
    border-radius: 15px;
}
#box8 img{
    width:300px;
    height: 400px;
    position: absolute;
    border-radius: 15px;
    right:10px;
    top:10px;

}
#nav4{
    width: 100%;
    height: 200px;
    background-color:rgb(248, 238, 225);
    float: left;
}
#nav4 h2{
    padding-top: 100px;
    margin-left: 750px;
    font-size: 40px;
}
#nav4 p{
    padding-top: 10px;
    margin-left: 770px;
    font-size: 20px;
}
#nav4 span{
    color: orangered;
    margin-left: 930px;
}
#banner3{
    width: 100%;
    height: 600px;
    float: left;
    background-color: rgb(248, 238, 225);
}
.box9{
    width: 15%;
    height: 600px;
    float: left;
}
.box10{
    width: 20%;
    height: 500px;
    background-color: white;
    float: left;
    margin-top: 50px;
    margin-left: 60px;
    border-radius: 15px;
}
.box11{
    width: 20%;
    height: 500px;
    background-color: white;
    float: left;
    margin-top: 50px;
    margin-left: 60px;
    border-radius: 15px;
}
.box12{
    width: 20%;
    height: 500px;
    background-color: white;
    float: left;
    margin-top: 50px;
    margin-left: 60px;
    border-radius: 15px;
}
.box13{
    width: 10%;
    height: 600px;
    float: right;
}
.box10 img{
    margin-left: 160px;
    margin-top: 50px;
}
.box11 img{
    margin-left: 160px;
    margin-top: 50px;
}
.box12 img{
    margin-left: 160px;
    margin-top: 50px;
}
.box10 h2{
    padding-top: 15px;
    margin-left: 120px;
}
.box10 p{
    padding-top: 15px;
    margin-left: 70px;
    line-height: 1.5;
    font-size: 20px;
}
.box11 h2{
    padding-top: 15px;
    margin-left: 90px;
}
.box11 p{
    padding-top: 15px;
    margin-left: 70px;
    line-height: 1.5;
    font-size: 20px;
}
.box12 h2{
    padding-top: 15px;
    margin-left: 85px;
}
.box12 p{
    padding-top: 15px;
    margin-left: 70px;
    line-height: 1.5;
    font-size: 20px;
}
#nav5{
    width: 100%;
    height: 100px;
    background-color: rgb(248, 238, 225);
    float: left;
    
}
#banner4{
    width: 100%;
    height: 500px;
    background-image: url("bg.jpg");
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
}
#banner4 img{
    margin-top: 160px;
    margin-left: 900px;
    

}
#banner4 h2{
    padding-top: 15px;
    margin-left: 800px;
    color: white;
    font-size: 40px;
}
#banner4 p{
    padding-top: 15px;
    margin-left: 680px;
    color: white;
    font-size: 21px;
    line-height: 1.5;

}
#nav6{
    width: 100%;
    height: 200px;
    background-color:rgb(248, 238, 225);
    float: left;
}
#nav6 h2{
    padding-top: 100px;
    margin-left: 800px;
    font-size: 40px;
}
#nav6 p{
    padding-top: 10px;
    margin-left: 730px;
    font-size: 20px;
}
#nav6 span{
    color: orangered;
    margin-left: 930px;
}
#banner5{
    width: 100%;
    height: 410px;
    background-color: rgb(248, 238, 225);
    float: left;
}
.box14{
    width: 15%;
    height: 350px;
    float: left;
    margin-top: 20px;
}
.box15{
    width: 30%;
    height: 350px;
    background-color: white;
    float: left;
    margin-top: 20px;
    margin-left: 100px;
    border-radius: 15px;
}
.box16{
    width: 30%;
    height: 350px;
    background-color: white;
    float: left;
    margin-top: 20px;
    margin-left: 85px;  
    border-radius: 15px;
}
.box15 h2{
    margin-top: 25px;
    margin-left: 30px;
}
.box15 h3{
    padding-top: 20px;
    margin-left: 30px;
    color: orangered;
}
.box15 p{
    padding-top: 20px;
    margin-left: 30px;
    line-height: 1.5;
    font-size: 20px;
}
.box16 h2{
    margin-top: 25px;
    margin-left: 30px;
}
.box16 h3{
    padding-top: 20px;
    margin-left: 30px;
    color: orangered;
}
.box16 p{
    padding-top: 20px;
    margin-left: 30px;
    line-height: 1.5;
    font-size: 20px;
}
.box15 input{
    padding: 3px 250px 3px 10px;
    margin-left: 30px;
    margin-top: 80px;
    border-radius:10px;
    background-color: orangered;
    color: white;
    border: 1px solid orangered;
    
}
.box16 input{
    padding: 3px 290px 3px 10px;
    margin-left: 30px;
    margin-top: 80px;
    border-radius:10px;
    background-color: orangered;
    color: white;
    border: 1px solid orangered;
    
}
#banner6{
    width: 100%;
    height: 410px;
    background-color: rgb(248, 238, 225);
    float: left;
}
.box17{
    width: 20%;
    height: 350px;
    float: left;
}
.box18{
    width: 20%;
    height: 350px;
    float: left;
    background-color: white;
    border-radius: 15px;
    
}
.box19{
    width: 20%;
    height: 350px;
    float: left;
    background-color: white;
    margin-left: 50px;
    border-radius: 15px;
}
.box20{
    width: 20%;
    height: 350px;
    float: left;
    background-color: white;
    margin-left: 50px;
    border-radius: 15px;
}
.box18 h2{
    margin-top: 25px;
    margin-left: 30px;
}
.box18 h3{
    padding-top: 20px;
    margin-left: 30px;
    color: orangered;
}
.box18 p{
    padding-top: 20px;
    margin-left: 30px;
    line-height: 1.5;
    font-size: 20px;
}
.box18 input{
    padding: 3px 100px 3px 10px;
    margin-left: 30px;
    margin-top: 25px;
    border-radius:10px;
    background-color: orangered;
    color: white;
    border: 1px solid orangered;
    
}
.box18 h2{
    margin-top: 25px;
    margin-left: 30px;
}
.box18 h3{
    padding-top: 20px;
    margin-left: 30px;
    color: orangered;
}
.box18 p{
    padding-top: 20px;
    margin-left: 30px;
    line-height: 1.5;
    font-size: 20px;
}
.box18 input{
    padding: 3px 100px 3px 10px;
    margin-left: 30px;
    margin-top: 25px;
    border-radius:10px;
    background-color: orangered;
    color: white;
    border: 1px solid orangered;
    
}
.box18 h2{
    margin-top: 25px;
    margin-left: 30px;
}
.box18 h3{
    padding-top: 20px;
    margin-left: 30px;
    color: orangered;
}
.box18 p{
    padding-top: 20px;
    margin-left: 30px;
    line-height: 1.5;
    font-size: 20px;
}
.box18 input{
    padding: 3px 100px 3px 10px;
    margin-left: 30px;
    margin-top: 25px;
    border-radius:10px;
    background-color: orangered;
    color: white;
    border: 1px solid orangered;
    
}
.box19 h2{
    margin-top: 25px;
    margin-left: 30px;
}
.box19 h3{
    padding-top: 20px;
    margin-left: 30px;
    color: orangered;
}
.box19 p{
    padding-top: 20px;
    margin-left: 30px;
    line-height: 1.5;
    font-size: 20px;
}
.box19 input{
    padding: 3px 100px 3px 10px;
    margin-left: 30px;
    margin-top: 25px;
    border-radius:10px;
    background-color: orangered;
    color: white;
    border: 1px solid orangered;
    
}

.box20 h2{
    margin-top: 25px;
    margin-left: 30px;
}
.box20 h3{
    padding-top: 20px;
    margin-left: 30px;
    color: orangered;
}
.box20 p{
    padding-top: 20px;
    margin-left: 30px;
    line-height: 1.5;
    font-size: 20px;
}
.box20 input{
    padding: 3px 100px 3px 10px;
    margin-left: 30px;
    margin-top: 25px;
    border-radius:10px;
    background-color: orangered;
    color: white;
    border: 1px solid orangered;
    
}
.box18 h2{
    margin-top: 25px;
    margin-left: 30px;
}
.box18 h3{
    padding-top: 20px;
    margin-left: 30px;
    color: orangered;
}
.box18 p{
    padding-top: 20px;
    margin-left: 30px;
    line-height: 1.5;
    font-size: 20px;
}
.box18 input{
    padding: 3px 100px 3px 10px;
    margin-left: 30px;
    margin-top: 25px;
    border-radius:10px;
    background-color: orangered;
    color: white;
    border: 1px solid orangered;
    
}
#nav7{
    width: 100%;
    height: 230px;
    background-color: rgb(248, 238, 225);
    float: left;
}
#nav7 h2{
    padding-top: 100px;
    margin-left: 800px;
    font-size: 40px;
}
#nav7 p{
    padding-top: 10px;
    margin-left: 700px;
    font-size: 20px;
}
#nav7 span{
    color: orangered;
    margin-left: 890px;
}
#banner7{
    width: 100%;
    height: 400px;
    background-color: rgb(248, 238, 225);
    float: left;
}
.box21{
    width: 32%;
    height: 350px;
    background-color: brown;
    float: left;
    margin-left: 6px;
}
.box22{
    width: 32%;
    height: 350px;
    background-color: brown;
    float: left;
    margin-left: 30px;
}
.box23{
    width: 32%;
    height: 350px;
    background-color: brown;
    float: left;
    margin-left: 30px;
}
.box21 img{
    width: 593px;
    height: 350px;
}
.box22 img{
    width: 593px;
    height: 350px;
}
.box23 img{
    width: 593px;
    height: 350px;
}
#nav8{
    width: 100%;
    height: 200px;
    float: left;
    background-color: rgb(248, 238, 225);
}
#nav8 h2{
    padding-top: 100px;
    margin-left: 800px;
    font-size: 40px;
}
#nav8 p{
    padding-top: 10px;
    margin-left: 770px;
    font-size: 20px;
}
#nav8 span{
    color: orangered;
    margin-left: 925px;
}
#banner8{
    width: 100%;
    height: 600px;
    background-color: rgb(248, 238, 225);
    float: left;
}
.box24{
    width: 20%;
    height: 400px;
    background-color: white;
    float: left;
    margin-left: 350px;
    margin-top: 100px;
    border-radius: 15px;

}
.box25{
    width: 20%;
    height: 400px;
    background-color: white;
    float: left;
    margin-left: 30px;
    margin-top: 100px;
    border-radius: 15px;
}
.box26{
    width: 20%;
    height: 400px;
    background-color: white;
    float: left;
    margin-left: 30px;
    margin-top: 100px;
    border-radius: 15px;
}
.box24 img{
    padding-top: 25px;
    margin-left: 170px;
    border-radius: 50%;
}
.box24 p{
    margin-left: 80px;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 10px;
}
.box24 span{
    margin-left: 150px;
    font-size: 20px;
}
.box25 img{
    padding-top: 25px;
    margin-left: 170px;
    border-radius: 50%;
}
.box25 p{
    margin-left: 80px;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 10px;
}
.box25 span{
    margin-left: 130px;
    font-size: 20px;
}
.box26 img{
    padding-top: 25px;
    margin-left: 170px;
    border-radius: 50%;
}
.box26 p{
    margin-left: 80px;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 10px;
}
.box26 span{
    margin-left: 130px;
    font-size: 20px;
}
#banner9{
    width: 100%;
    height: 550px;
    background-color: rgb(248, 238, 225);
    float: left;
}
#banner9 h1{
    margin-top: 100px;
    margin-left: 800px;
    font-size: 40px;
}
#banner9 p{
    margin-top: 25px;
    margin-left: 600px;
    font-size: 20px;
}

#banner9 input{
    margin-top: 80px;
    margin-left:600px ;
    padding: 15px 420px 15px 10px;
}
 #banner9 span{
    padding: 6px 10px;
    margin-right: 560px;
    margin-top: 32px;
    background-color: brown;
    color: white;
}
#footer{
    width: 100%;
    height: 300px;
    background-color: #30336b;
    float: left;
}
.box27{
    width: 30%;
    height: 300px;
    float: left;
}
.box27 img{
    margin-left: 20px;
    margin-top: 100px;
}
.box28{
    width: 40%;
    height: 300px;
    float: left;
}
.box29{
    width: 30%;
    height: 300px;
    float: left;
}
.box28 img{
    margin-left: 300px;
    margin-top: 50px;
}
.box28 p{
    margin-left: 220px;
    margin-top: 100px;
    color: white;
}
.box29 p{
    margin-top: 80px;
    margin-left: 50px;
    font-size: 30px;
    color: white;
}


